.message-input{
    height: 10vh;
    background-color: #e3e3e3;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;

        &__input{
            width: 100%;
            border: 2px solid #d7d6d6;
            border-radius: 10px;
            padding: 10px 50px 10px 10px;
            font-size: 16px;
        }

        &__button {
            position: absolute;
            background-color: #fff;
            right: 30px;
            padding: 6px 12px;
            font-size: 14px;
            border: none;
            color: rgb(118, 118, 118);
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            
            &:hover {
              background-color: #ddd;
            }
          }
}